@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;    
}


li, a, button {
    font-family: 'Paytone One', sans-serif;
    font-weight: 400;
    font-size: 0,8rem;
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.bar{
    background-color: #FFFAE8;
    align-items: center;
    position: sticky;
    padding: 20px 10%;
    top: 0px;
    box-shadow: 0rem, 0rem, 0,5rem black;
    z-index: 1;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    width: 8%;
    height: 8%;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-light);
    font-size: 0.9rem;
}
.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.nav a {
    text-decoration: none;
}
.nav-item {
    padding-right: 2rem;
}
.nav-item:first-child {
    padding-left: 1rem;
}
.nav-link {
    color: var(--color-secondary);
}
.nav-link:hover {
    text-decoration: none;
    color: var(--color-dark);
}
.brand {
    white-space: nowrap;
}
.active {
    color: var(--color-dark);
}
.navbar__collapse-show {
    display: block !important;
    width: 100%;
}
.navbar__toggle {
    border: none;
    background-color: transparent;
}

@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
    }
    .navbar__collapse {
        display: none;
    }
}
@media (min-width: 768px) {
    .navbar__toggle {
        display: none;
    }
}

.buttonX{
    margin-right: 20px;
    padding: 9px 25px;
    background-color: rgba(255, 228, 132,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(255, 228, 80,0.8);
}

.img_center{
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.img_relativ{
    position: relative;
}
.img_size{
 max-width: 100%;
}

.img_text_h1{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    font-size: 1.5rem;
}
.img_text {
    margin-top: 100px;
}
@media (max-width: 768px) {
    .img_text {
        margin-top: 10px;
    }
}
.img_text_p{
    font-size: 1.5rem;
    margin-top: 15px;
}


.img_butten{
    margin-top: 10%;
}
@media (max-width: 768px) {
    .img_butten {
        display: none;
    }
}
.img_butten_text{
    font-size: 1.2rem;
    padding: 1rem 2rem;
    margin-right: 20px;
    background-color: rgba(255, 228, 132,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


.yellow_box{
    background-color: #FFEDAC   ;
    width: auto;
    padding: 3%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 30px;
    text-align: center;
    font-size: 1.2rem;
}

.yellow_box_p{
    margin-top: 10px;
}


.address{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;  
    }
    @media only screen and (max-width: 700px){
        .address{
        flex-direction: column;  
    }
}
.address_text{
    margin-top: 15px;
    flex-direction: column;   
    font-size: 2rem;
}
.address_h3{
    margin-top: 5%;
    
}
.google_map{
    width: 30rem;
    height: 25rem; 
    border: none;
}
@media only screen and (max-width: 700px){
    .google_map{
        width: 15rem;
        height: 15rem;
    }
}
@media only screen and (max-width: 700px){
    .img_text_h1, .img_text_p, .yellow_box, .address_text {
        font-size: 20px;
    }
}

footer{
    margin-top: 2%;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

